<app-navbar></app-navbar>


<div  class="t1">
<table class="table " border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img}} " width=400  ></th>
      </tr>
      <tr>
        <td>{{precio}}</td>
      </tr>
      <tr>
        <td>Piso en {{via}} {{ubicacion}}</td>
      </tr>
    </tbody>
</table>
</div>
<div  class="t2">
<table class="table"  border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img1}}" width=400   ></th>
      </tr>
      <tr>
        <td>{{precio1}}</td>
      </tr>
      <tr>
        <td>Piso en {{via1}} {{ubicacion1}}</td>
      </tr>
    </tbody>
</table>
</div>
<div  class="t1">
<table class="table col-lg-4" border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img2}}"width=400  ></th>
      </tr>
      <tr>
        <td>{{precio2}}</td>
      </tr>
      <tr>
        <td>Piso en {{via1}} {{ubicacion2}}</td>
      </tr>
    </tbody>
</table>
</div>
<div  class="t2">
<table class="table" border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img3}}" width=400  ></th>
      </tr>
      <tr>
        <td>{{precio3}}</td>
      </tr>
      <tr>
        <td>Piso en {{via3}} {{ubicacion3}}</td>
      </tr>
    </tbody>
</table>
</div>
<div  class="t1"> 
<table class="table" border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img4}}" width=400 ></th>
      </tr>
      <tr>
        <td>{{precio4}}</td>
      </tr>
      <tr>
        <td>Piso en {{via4}} {{ubicacion4}}</td>
      </tr>
    </tbody>
</table>
</div>
<div  class="t2">
<table class="table" border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img5}}"width=400  ></th>
      </tr>
      <tr>
        <td>{{precio5}}</td>
      </tr>
      <tr>
        <td>Piso en {{via5}} {{ubicacion5}}</td>
      </tr>
    </tbody>
</table>
</div>
<div  class="t1">
<table class="table" border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img6}}"width=400  ></th>
      </tr>
      <tr>
        <td>{{precio6}}</td>
      </tr>
      <tr>
        <td>Piso en {{via}} {{ubicacion6}}</td>
      </tr>
    </tbody>
</table>
</div>
<div  class="t2">
<table class="table" border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img7}}"width=400  ></th>
      </tr>
      <tr>
        <td>{{precio7}}</td>
      </tr>
      <tr>
        <td>Piso en {{via7}} {{ubicacion7}}</td>
      </tr>
    </tbody>
</table>
</div>
<div  class="t1">
<table class="table" border="1">
    <tbody>
      <tr>
        <th scope="row"><img src="{{img8}}"  width=400></th>
      </tr>
      <tr>
        <td>{{precio8}}</td>
      </tr>
      <tr>
        <td>Piso en {{via8}} {{ubicacion8}}</td>
      </tr>
    </tbody>
</table>
</div>
